/.idea
/media/live_proctor_log_images
/media
/accounts/migrations
/teachers/migrations
/students/migrations
static/models
__pycache__/
*.py[cod]
*.pyc
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
db.sqlite3
