{% extends 'students/exam-layout.html' %}
{% block body %}
{% load static %}

  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_detection/face_detection.js" crossorigin="anonymous"></script>
{{ room_name|json_script:"room-name" }}
<div class="container">
    <video class="input_video"></video>
    <canvas class="output_canvas" width="1280px" height="720px"></canvas>
</div>



<form action="give_test_objective" method="POST">
    {% csrf_token %}
    {% for question in objective_questions %}
    <div>
        <p>{{ question.question_id }} {{ question.question }} Marks : {{ question.marks}}</p>
        <fieldset name = "{{ question.question_id }}">
            <input type="radio" name="{{ question.question_id }}" value ="a">{{ question.option_a }}<br>
            <input type="radio" name="{{ question.question_id }}" value ="b">{{ question.option_b }}<br>
            <input type="radio" name="{{ question.question_id }}" value ="c">{{ question.option_c }}<br>
            <input type="radio" name="{{ question.question_id }}" value ="d">{{ question.option_d }}<br>
        </fieldset>
    </div>
    {% endfor %}
    <input type="submit">
</form>

<script>
    const videoElement = document.getElementsByClassName('input_video')[0];
const canvasElement = document.getElementsByClassName('output_canvas')[0];
const canvasCtx = canvasElement.getContext('2d');
const drawingUtils = window

function onResults(results) {
  // Draw the overlays.
  canvasCtx.save();
  canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
  canvasCtx.drawImage(
      results.image, 0, 0, canvasElement.width, canvasElement.height);
  if (results.detections.length > 0) {
    drawingUtils.drawRectangle(
        canvasCtx, results.detections[0].boundingBox,
        {color: 'blue', lineWidth: 4, fillColor: '#00000000'});
    drawingUtils.drawLandmarks(canvasCtx, results.detections[0].landmarks, {
      color: 'red',
      radius: 5,
    });
    // console.log(results.detections.length);
  }
  canvasCtx.restore();
}

const faceDetection = new FaceDetection({locateFile: (file) => {
  return `https://cdn.jsdelivr.net/npm/@mediapipe/face_detection/${file}`;
}});
faceDetection.setOptions({
//   modelSelection: 0,
  model: 'short',
  minDetectionConfidence: 0.5,

});
faceDetection.onResults(onResults);

const camera = new Camera(videoElement, {
  onFrame: async () => {
    await faceDetection.send({image: videoElement});
  },
  width: 1280,
  height: 720
});
camera.start();
  </script>
{% endblock %}
