{% extends 'students/exam-layout.html' %}
{% block body %}
<img src="{% url 'video_stream' %}" width=180px height=150px>

<form action="give_test_objective" method="POST">
    {% csrf_token %}
    {% for question in objective_questions %}
    <div>
        <p>{{ question.question_id }} {{ question.question }} Marks : {{ question.marks}}</p>
        <fieldset name = "{{ question.question_id }}">
            <input type="radio" name="{{ question.question_id }}" value ="a">{{ question.option_a }}<br>
            <input type="radio" name="{{ question.question_id }}" value ="b">{{ question.option_b }}<br>
            <input type="radio" name="{{ question.question_id }}" value ="c">{{ question.option_c }}<br>
            <input type="radio" name="{{ question.question_id }}" value ="d">{{ question.option_d }}<br>
        </fieldset>
    </div>
    {% endfor %}
    <input type="submit">
</form>

{% endblock %}
